<header class="site-header">

  <div class="wrapper">

    <h1 class="site-title"><a href="{{ site.baseurl }}/">사이트박사</a></h1>
    <br>
	<p>사이트 제작 늦어져서 쇼핑몰 망하면 얼마나 억울해요?</p><br>

    <nav class="site-nav">

      
      
      
      
      
    
     <a href="https://cafe.naver.com/buildingsever" target="_blank"><strong><span style="color: rgb(0, 0, 0);">공동구매연구소카페</span></strong></a>
      
	 <a href="/standing-point" target="_self"><strong><span style="color: rgb(0, 0, 0);">｜입점 제안/문의</span></strong></a> 
        
        
        
        
        {% for page in site.pages %}
        {% if page.title %}
        
           
        
        

        
        
       
          
        {% endif %}      
        {% endfor %}
    
    </nav>

  </div>

</header>
